.error {
    color: #b20808;
}

/*.inputError{
    border: 2px solid #b20808;
    background-color: rgba(178, 8, 8, 0.3);
    border-radius: 2px;
}

.inputSuccess{
    border: 2px solid #48c508;
    background-color: rgba(141, 229, 128, 0.3);
    border-radius: 2px;
}*/

.ng-valid[required], ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.ng-pristine:not(form) {
    border-left: 5px solid #dad9d9;
}
